<!DOCTYPE html>
<html>
	<head>
		<title>Автомат для Оли</title>
		<link rel='stylesheet' href='/css/style.css' />
		<script type="text/javascript" src='/js/main.js'></script>
	</head>
	<body>
		<div class="wrapper">
			<h1>Автомат для Оли</h1>
			<p>Штуковина для превращения картинок в баннеры для групп</p>

			<div class="upload">
				<form action="/upload" method="post" enctype="multipart/form-data">

					<div class="upload_field">
						<label for="link">Ссылка на группу на OK.ру</label>
						<input type="text" placeholder="например, http://ok.ru/lenatemnikova" name="link" id="link" required />
					</div>

					<div class="upload_field">
						<label for="newfeed_banner">Баннер для новой ленты</label>
						<input type="file" name='newfeed_banner' id="newfeed_banner" accept=".jpg, .png" />
					</div>

					<div class="upload_field">
						<input type="submit" class="button" value="Получить ссылку на архив"/>
					</div>
				</form>

			</div>
		</div>

		<div class="drop">Загрузить файл</div>
	</body>
</html>
