<!DOCTYPE html>
<html>
	<head>
		<title>Автомат для Оли</title>
		<link rel='stylesheet' href='/css/style.css' />
	</head>
	<body>
		<div class="wrapper">
			<h1>Что-то не так</h1>

			<div class="download_cont">
				<p>Не указано ни одной картинки?</p>
				<p><a href="/">← <span class="tdu">Еще раз</span></a></p>
			</div>
		</div>
	</body>
</html>
