<!DOCTYPE html>
<html>
	<head>
		<title>Автомат для Оли</title>
		<link rel='stylesheet' href='/css/style.css' />
	</head>
	<body>
		<div class="wrapper">
			<h1>Оля, вот твой архив с баннером!</h1>

			<div class="download_cont">
				<p><a href="<%= link %>" class="button __download">Скачать</a></p>
				<p><a href="/">← <span class="tdu">Назад</span></a></p>
			</div>
		</div>
	</body>
</html>
