html,
body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: sans-serif;
	color: #000;
	background-color: #f0f0f0;
	min-width: 350px;
}

.wrapper {
	padding: 40px;
	max-width: 520px;
	margin: 0 auto;
}

h1 {
	font-size: 30px;
}

p {
	margin: 10px 0 30px;
	font-size: 18px;
}

label {
	display: block;
	margin-bottom: 5px;
	font-size: 16px;
	cursor: pointer;
}

input {
	border-radius: 3px;
	border: 0 none;
}

input[type="text"] {
	position: relative;
	margin: 0;
	background-color: #fff;
	border-top: #999 solid 1px;
	color: #333;
	font-size: 14px;
	padding: 7px 0 8px 5px;
	display: block;
	width: 100%;
	border: 1px solid #BBB;
	box-shadow: 0 -1px 1px 0 #ECECEC,inset 0 1px 3px 0 #DBDBDB;
	box-sizing: border-box;
}

input[type="file"] {
	box-sizing: border-box;
	width: 100%;
	cursor: pointer;
}

a {
	color: #fb882d;
	text-decoration: none;
}

.tdu {
	text-decoration: underline;
}

.button {
	display: inline-block;
	text-decoration: none;
	height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 #458f11;
	box-shadow: inset 0 -1px 0 0 #21900d;
	background-color: #1daa09;
	background-image: url(/res/i/bg/buttons/green-button.png);
	background-repeat: repeat-x;
	background-image: -webkit-linear-gradient(top,#78d81f,#1daa09);
	background-image: linear-gradient(to bottom,#78d81f,#1daa09);
	position: relative;
	margin: 0;
	padding: 0 14px;
	font: 500 20px arial,helvetica,sans-serif;
	cursor: pointer;
	white-space: nowrap;
	line-height: 40px;
	text-align: center;
	border-radius: 3px;
	border: 0 none;
}

.button:hover {
	color: #fff;
	background-color: #70ca1b;
	background-position: 0 100%;
	background-image: -webkit-linear-gradient(top, #70ca1b, #169305);
	background-image: linear-gradient(to bottom, #70ca1b, #169305);
	text-decoration: none;
}

.button.__download {
	width: 150px;
}

.upload_field {
	padding: 20px;
	margin: 0 -20px 10px;
	background-color: #fcfcfc;
}

.download_cont {
	padding-top: 20px;
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
}

html.__upload input[type="file"]:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	}

.drop {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.9);
	cursor: copy;
	text-align: center;
	pointer-events: none;
	font-size: 30px;
	letter-spacing: 1px;
	color: #666;
	z-index: 1000;
	}
	.drop:before {
		content: '';
		display: inline-block;
		height: 100%;
		position: relative;
		vertical-align: middle;
		}
	.drop:after {
		content: '';
		position: absolute;
		top: 20px;
		left: 20px;
		right: 20px;
		bottom: 20px;
		border: 4px #aaa dashed;
		border-radius: 30px;
		}
	html.__upload .drop {
		display: block;
		}