<!DOCTYPE html>

<html>
	<head>
		<title><%= title %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<style type="text/css">
			html,body{margin:0;padding:0}
			img{display:block;}
			a,a:hover,a:visited{border:0 none;outline:0 none;display:block}
		</style>
	</head>
	<body>
		<a href="<%= iframeLink %>" target="_blank">
			<img width="<%= width %>" height="<%= height %>" alt="" src="<%= newFeedBannerPath %>" />
		</a>
	</body>
</html>